{% extends '::base.html.twig' %}

{% block body -%}
    <h1>カテゴリ削除</h1>

		ID:{{id}}を削除しました
        <ul class="record_actions">
    <li>
        <a href="{{ path('post') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
