{% extends '::base.html.twig' %}

{% block body -%}
    <h1>カテゴリ一覧</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td><a href="{{ path('post_edit', { 'id': entity.id }) }}">edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<a href="{{ path('post_new') }}">新しいカテゴリを作成する </a>
    {% endblock %}
