
<form action="{{ path('front_response_new', {'thread_id' : thread_id})  }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

        <a href="{{ path('front_response_index', { 'thread_id': thread_id }) }}">
            スレッド一覧に戻る
        </a>
