
<form action="{{ path('category_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

        <a href="{{ path('category_index') }}">
            Back to the list
        </a>
