
<form action="{{ path('front_thread_new', {'category_id' : 'category_id'})  }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" />
</form>

        <a href="{{ path('front_thread_index', { 'category_id': 'category_id' }) }}">
            Back to the list
        </a>
